h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 48px;
	margin-bottom: 0;
	margin-top: 10px;
}

h2 {
	margin: 0;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 36px;
}

h4 {
	margin-bottom: 0;
	margin-top: 2px;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 28px;
}

.gameContainer {
	display: flex;
}

#canvasDiv {
	margin-top: 20px; 
}

canvas {
	border: 1px solid black;
}

.messageContainer {
	margin-left: 20px; 
}

.userPanel {
	margin-top: -10px;
}

.userBox {
	padding: 5px 0;
	font-family: 'Caveat', cursive;
	font-size: 22px;
	font-weight: bold;
}
.userPanel:after {
	content: '';
	width: 100%;
	display: block;
	border-bottom: 1px solid darkgrey;
}

.drawerBox {
	color: red;
}

#displayChat {
	font-family: 'Caveat', cursive;
	overflow-y: scroll;
	height: 250px;
}

#displayChat ul {
	padding-left: 0;
	padding-top: 0;
}

#displayChat li {
	list-style: none;
	font-size: 20px;
	font-weight: 400;
	padding-bottom: 5px;
}

#displayChat li span {
	font-weight: 700;
}

.selectedWord {
	margin: 10px 0;
	font-weight: 400;
}

.selectedWord:after {
	content: '';
	width: 100%;
	display: block;
	border-bottom: 1px solid darkgrey;
}

